@import "tailwindcss";

/* In your CSS file */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-primary:#F9F7F2;
  --color-secondary:#EBE5DA;
  --color-gold:#D99726;
  --color-overlay-black:#0C0A09;
  --color-overlay-brown:#4A3F35;
}

body{
  background-color: #0F0C0A;
}
