@import "tailwindcss";

/* In your CSS file */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-primary:#F9F7F2;
  --color-secondary:#EBE5DA;
}

body{
  background-color: #0F0C0A;
}
