@import "tailwindcss";

/* In your CSS file */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-primary: #f9f7f2;
  --color-secondary: #ebe5da;
  --color-gold: #d99726;
  --color-gold-hover: #f59e0b;
  --color-overlay-black: #0c0a09;
  --color-overlay-brown: #4a3f35;
  
}

body {
  background-color: #0f0c0a;
}
